a {
    text-decoration: none;
}

#page1 {
    text-align: center;
    height: 650px;;
}

#page2 {
    height: 700px;
    background: #F0F0F0;
}

.profile-content {
    display: inline-flex;
    margin-top: 80px;      
    font-family: 'Lato', sans-serif;
}

.profile-content .pro-image img {
    border-radius: 50%;
    background-position: center;
}

.profile-content .pro-desc{
    margin-top: 30px;
    margin-left: 50px;
}
.profile-content .pro-desc .pro-name{
    font-size: 2.5em;
    font-weight: 100;
    color: #04C8E1;
}
.profile-content .pro-desc .pro-intro{
    text-align: left;
    line-height: 1.4em;
    font-size: 1.3em;
    font-weight: 100;
    color: #1B1B1B;
}

.profile-content .pro-desc .social-icons{
    text-align: left;    
    margin-top: 10px;
}
.profile-content .pro-desc .social-icons a{
    display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 1em;
    line-height: 1.9em;
	color: #04C8E1;
    background: white;
    border-radius: 50%;
	text-align: center;
    margin-right: 5px;
}

.profile-content .pro-desc .social-icons a:hover {
    color: white;
    background: #04C8E1;
    transition: 0.7s ease;
}

.btn-projects{
    text-align: center;
    margin-top: 60px; 
}

.btn-projects a{
    color: #04C8E1;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;  
}
.btn-projects a:hover {
    color: #03A9BE;
    transition: 0.7s ease;
}
.arrow-down {
    border: solid #04C8E1;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down:hover {
    border: solid #03A9BE;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    transition: 0.7s ease;
}

@media (max-width: 630px) {
    .profile-content {  
        margin-top: 10px;       
        display: block;
    }  
    .profile-content .pro-image {
        display: inline-block;
    }
    .profile-content .pro-desc {
        margin: 0px;
        margin-top: 15px;        
    }
    .profile-content .pro-desc .pro-intro {
        text-align: center;
    }
    .profile-content .pro-desc .social-icons {
        text-align: center;
    }
    #page2 {
        height: inherit;
    }
}

.main-content {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.main-content h2 {
    padding-top: 30px;
    font-size: 2.5em;
    color: #848484;
}

.main-content h2:after {
    content:' ';
    display:block;
    width: 60px;
    margin: auto;
    margin-top: 10px;
    border:3px solid #04C8E1;
}

.main-content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.main-content .grid .grid-item{    
    text-align: center;
    height: 150px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    background: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border-left: 4px solid transparent;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main-content .grid .grid-item:hover{    
    border-left: 4px solid #03A9BE;
    transition: 0.7s ease;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.main-content .grid .grid-item-title{
    font-size: 2em;
    color: #4D4D4D;
    text-align: left;
    padding: 4px;
    font-weight: 300;
}

.main-content .grid .grid-item-text{
    padding: 5px;
    color: #707070;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 300;
    text-align: left;
}

.main-content .grid .grid-item-button{
    padding: 5px;    
    font-size: 1em;
    line-height: 1.6em;
    background: #04C8E1;
    width: 40%;
    margin: auto;
    margin-top: 15px;
    border-radius: 2px;
}

.main-content .grid a{
    color: white;
    font-weight: 700;
}

.main-content .grid .grid-item-button:hover{
    background: #03A9BE;
    transition: 0.5s ease;    
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
